#photos-conteiner {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dog-photos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#dog-photo-img {
    max-width: 70%;
    max-height: 800px;
}

#btn-close {
    background: none;
    border: 0;
    outline: 0;
    color: #FF8F19;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 29px;
}

.nav-btn {
    border: 0;
    outline: 0;
    /*    margin-bottom: 20px;*/
    margin-left: 10px;
    margin-right: 10px;
}

.previous {
    background: url(../imgs/navigation/previous.png);
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.next {
    background: url(../imgs/navigation/next.png);
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.photos-show {
    visibility: visible !important;
}

.dogs {
    max-height: none;
    /*  height: 100%;*/
    overflow: visible;
    justify-content: flex-start;
}

.additional-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
}

.sales-text {
    margin-top: 2%;
    margin-left: 3%;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    background: #FAFAFA;
    position: relative;
}

.contact-us {
    /*  height: 100%;*/
    /*  border: 1px solid red;*/
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    /*  margin-top: 100px;*/
    margin-bottom: 10px;
}

.dog-box {
    margin-bottom: 30px;
}

.social-container .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 10px;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.social-container .social .btn {
    border: 0;

    margin-bottom: 20px;
    margin-right: 10px;
}

.social-container .social .vk {
    background: url(../imgs/social/vk-black.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.social-container .social .insta {
    background: url(../imgs/social/insta-black.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.social-container .social .fb {
    background: url(../imgs/social/fb-black.png);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
}

.language p {
    color: black;
}

/*.more-box {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}*/